body{
    font-family: 'Kanit', sans-serif;
}

h1 {
    text-align: center;
}

.inner_left_bar{
    margin: 5px;
}

.login{
    align-content: center;
    border: 2px solid red;
    width: 450px;
    height: 300px;
    margin: 100px auto;
    position: relative;
}

.login_windows{
    align-content: center;
    text-align: center;
    color: green;
    position: relative;
}

.id_pass{
    text-align: left;
    color: blue;
    margin: 50px 30px;
    position: relative 
}

#header{
    color: #000000;
}

.page{
    background-color: #333;
    color: #FFFFFF;
}
.menu{
    min-height: 800px;
    background-color: #FFFFFF;
}

.idblock{
    color: rgb(1, 235, 52);
    border: 1px solid #FFFFFF;
}

.menubutton{
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.contentbox{
    min-height: 300px;
}

.bc{
    background-color: #F6D9F8;
}

.idblock{
    text-align: center;
}

.datashow{
    border:#000000;
}

#loginpanel{
    background-color: #333;
    height: 50px;
    color: #ffffff;
}

#blankp{
    background-color: rgb(224, 230, 226);
}

#headertop{
    background-color:  rgb(71, 194, 133);
    text-align: center;
    border: 10px solid #F76D6D;
    font: sans-serif;
}

#headerbot{
    color: #000000;
}

th{
    padding: 10px;
}

.headtable{
    color: #2600ff;
    font-size: large;
}

.hwbox{
    background-color: #333;
    width: auto;
    height: auto;
    color: aqua;
    text-align: left;
    border: 2px solid magenta;
    border-radius: 5px;
    margin: auto;
}

.infor{
    margin: auto;
    padding: 10px;
}

.space{
    margin: 10px;
}